/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e3f0ff;
  display: flex;
  justify-content: center;
  padding: 40px;
  color: #0d1b2a;
}

.box {
  width: 90%;
  max-width: 950px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid #dce6f7;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.header a {
  text-decoration: none;
  font-weight: 600;
  color: #1b4e9b;
  padding: 8px 15px;
  transition: 0.3s;
  border-radius: 8px;
}

.header a:hover {
  background: #e3ecff;
  color: #0056c7;
  transform: translateY(-2px);
}

/* INTRO NAME */
.intro-name {
  text-align: center;
  margin-bottom: 25px;
}

.intro-name h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0a3d7a;
}

.intro-name b {
  color: #007bff;
}

/* TITLE */
h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 35px;
  color: #0a3d7a;
}
h1 b {
  color: #007bff;
}

/* GENERAL SECTIONS */
.about, .hoby, .food, .istri, .footer, .myvideo {
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 45px;
  background: #f5f9ff;
  border: 1px solid #d8e7ff;
}

h2 {
  color: #0a3d7a;
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
  color: #2b3e5a;
  font-size: 15px;
}

/* ABOUT */
.about {
  display: flex;
  gap: 25px;
  align-items: center;
}

.about img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  border: 3px solid #cfe0ff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* VIDEO SECTION */
.myvideo video {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}

/* HOBBY & FOOD */
.box2 {
  display: flex;
  gap: 25px;
  text-align: center;
}

.hoby,
.food {
  flex: 1;
  border-radius: 15px;
  padding: 25px;
  background: #f5f9ff;
  border: 1px solid #d8e7ff;
}

/* ISTRI */
.istri img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 15px;
  border: 3px solid #cfe0ff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.istri{
    display: flex;
  gap: 25px;
  align-items: center;
}

/* FOOTER */
.footer a img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.3s;
  border: 2px solid #cfe0ff;
}

.footer{
    text-align: center;
}

.footer a img:hover {
  transform: scale(1.1);
}
